<% provide :title, "About Emily Dickinson Archive" %>

<%= render( {
  partial: 'shared/about_panel_menu'
} ) %>

<p>Contact us at <a href="mailto:EmilyDickinsonArchive@harvard.edu">EmilyDickinsonArchive@harvard.edu</a> if you have problems using this site.</p>

<p>For permission to use images or transcriptions included on EDA, see our <%= link_to 'Copyright and Terms of Use', terms_path %> page.</p>

<p>To obtain higher resolution images than are provided by the <!--a href="/about/images/ "-->download images<!--/a--> function in EDA, contact the library that owns the original manuscript. The name of the owning library is found in the image credits, and contact information is found under <%= link_to 'Partners and Credits', team_path %>.</p>

<p>For general information about Emily Dickinson, consult the <%= link_to 'FAQ', faq_path %> page and explore the <%= link_to 'Dickinson-Related Sites', "#{resources_path}#dickinson-related-sites" %> included in <%= link_to 'Resources', resources_path %>.</p>
