<% cache do %>
<div class="home-ornaments"></div>
<div class="home-logo"></div>

<h1>An open-access website for the manuscripts of Emily Dickinson</h1>

<div class="menu-container">
    <%= render partial: 'shared/main_nav' %>
    <%= render partial: 'shared/user_nav' %>
</div>

<div class="hr"></div>

<section class="welcome">

<p>Welcome to the Emily Dickinson Archive where manuscripts of Dickinson's poetry, along with transcriptions and annotations from scholarly editions, available in open access inspiring new scholarship and discourse on this literary icon.</p>
<p>Welcome to the Emily Dickinson Archive where manuscripts of Dickinson's poetry, along with transcriptions and annotations from scholarly editions, available in open access inspiring new scholarship and discourse on this literary icon.</p>
<p>Welcome to the Emily Dickinson Archive where manuscripts of Dickinson's poetry, along with transcriptions and annotations from scholarly editions, available in open access inspiring new scholarship and discourse on this literary icon.</p>

</section>

<nav class="icon-links">
  <h1><%= t 'works_search_h1' %></h1>
<%= render partial: 'works/search_form' %>

<ul>
  <li><%= home_link 'works-browse.jpg', t( 'home_browse_title' ), 'Browse poems by first word', works_path %></li>
  <li><%= home_link 'words-index.jpg', t( 'home_lex_title' ), 'Look up word definitions as Emily Dickinson knew them', words_url %></li>
</ul>
</nav>
<% end %>
