<h2>Editions</h2>
<ul>
    <% @editions.each do |edition| %>
        <li>
        <%= link_to("#{edition.name}", edition_works_path(edition)) %> by <%= (edition.author.nil? || edition.author.empty?) ? 'Me' : edition.author %>
        <%= link_to('edit', edit_edition_path(edition)) %>
        <%= link_to('delete', edition_path(edition), confirm: 'Are you sure you want to delete this edition?', method: :delete) %>
        </li>
    <% end %>
</ul>
<%= link_to t(:create_new_edition), new_edition_path %>
