<section class="search-works">
    <div class="search-works-form">
      <h1><%= t 'works_search_h1' %></h1>

        <%= form_tag search_works_path, method: :get do %>
            <%= label_tag(:q, 'Search for:') %>
            <%= text_field_tag(:q, params[:q]) %>
            <%= button_tag raw('<span class="icon"></span> <span>Search</span>'), name: nil %>
                <div class="search-works-options">
                    <a href="javascript:void(0);"><h2>Search options</h2></a>
                    <%= render 'shared/forms/edition_selector' %>
                </div>
        <% end %>
    </div>

    <% if @search.present? %>
        <div class="search-works-results">
            <h2>
                <%= pluralize @search.hits.count, 'result' %>
                for &quot;<span class="query"><%= params[ :q ] %></span>&quot;
            </h2>
            <ul>
            <% @search.hits.each do |work| %>
              <li><%= link_to render_work_result_link(Work.find( work.primary_key )), image_set_path_from_work(Work.find( work.primary_key ) ) %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
</section>
