<%= form_tag search_works_path, remote: defined?(remote) ? remote : false, id: 'search-works', class: 'search-works-form' do %>
    <%= label_tag(:q, 'Search for:') %>
    <%= text_field_tag(:q, params[:q], { placeholder: 'Search poem text...' } ) %>
    <%= button_tag raw('<span class="icon"></span> <span>Search</span>'), name: nil %>
    <div><a class="search-works-options-toggle" href="javascript:void(0);"><h2>Search options</h2></a></div>
    <div class="search-works-options">
        <label for="current_edition">Edition</label>
        <%= select_tag 'current_edition',
            options_for_select(
                [['All', 'all']] + Edition.for_user(current_user).map{|e| [e.short_name, e.id]},
                session[:current_edition] ? Edition.find(session[:current_edition]).id : 'all'
            )
        %>
    </div>
<% end %>
