<div id="work-table-wrapper">
<table class="works">
    <thead>
        <tr>
            <th class="work-title"><%= t 'datatable.th_title' %></th>
            <th>Date</th>
            <th>Recipient</th>
            <% if !defined?(edition) || edition.nil? %>
                <th><%= t 'datatable.th_edition' %></th>
            <% end %>
            <th class="work-number">Number</th>
            <!--<th>Has Image</th>-->
        </tr>
    </thead>
    <tbody>
<% works.each do |work| %><tr>
<td><%= link_to work.title, image_set_path_from_work(work) %></td>
<td><%= work.date.strftime('%Y') if work.date %></td>
<td><%= work.metadata['Recipient'] if work.metadata['Recipient'] %></td>
<% if !defined?(edition) || edition.nil? %><td><%= work.edition.short_name %></td><% end %>
<td><%= strip_tags work.full_id %></td>
</tr><% end %>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th class="date-footer"></th>
            <th class="recipient-footer"></th>
            <% if !defined?(edition) || edition.nil? %>
                <th class="edition-footer"></th>
            <% end %>
            <th></th>
            <!--<th></th>-->
        </tr>
    </tfoot>
</table>
</div>
<noscript>
    <style>
        #work-table-wrapper {
            display: block;
        }
    </style>
</noscript>
