<table class="works">
    <thead>
        <tr>
            <th>Number</th><th>Variant</th><th>Title</th><th>Date</th><th>Recipient</th>
        </tr>
    </thead>
    <tbody>
<% @works.each do |work| %>
    <tr>
        <td><%= work.number %></td>
        <td><%= strip_tags work.variant %></td>
        <td><%= work_link(work, @edition) %></td>
        <td><%= work.date.strftime('%Y') if work.date %></td>
        <td><%= work.metadata['Recipient'] if work.metadata['Recipient'] %></td>
    </tr>
<% end %>
    </tbody>
</table>
