<section class="search-works">
<h2>Search</h2>
<%= form_tag search_works_path, :method => 'get' do %>
    <%= label_tag(:q, 'Search for:') %>
    <%= text_field_tag(:q, params[:q]) %>
    <%= render 'shared/forms/edition_selector' %>
    <%= submit_tag('Search') %>
<% end %>
<% if @search %>
    <h3><%= @search.total %> Results</h3>

    <%= render( {
      partial: 'shared/search_works_results',
      object: @search
    } ) %>
<% end %>
