<section class="search-works">
<div class="search-works-form">
    <h1><%= t 'works_search_h1' %></h1>
    <%= render partial: 'works/search_form' %>
</div>

<% if @search.present? %>
    <h2>
        <%= pluralize @search.total, 'result' %>
        for &quot;<span class="query"><%= params[:q] %></span>&quot;
    </h2>
    <%= render partial: 'works/table', locals: { works: @search.results, search: @search } %>
<% end %>
</section>
