<h2>Search</h2>
<%= form_tag search_works_path, :method => 'get' do %>
    <%= label_tag(:q, 'Search for:') %>
    <%= text_field_tag(:q, params[:q]) %>
    <%= render 'shared/forms/edition_selector' %>
    <%= submit_tag('Search') %>
<% end %>
<% if @works %>
    <ul>
        <% @works.each do |work| %>
            <li><%= work.title %></li>
        <% end %>
    </ul>
<% end %>
