<% provide :title, "Reading View for #{@image_set.name}" %>
<% provide :view_classes, 'side-by-side' %>

<% cache @image_set do %>
  <%= sanitize breadcrumb(@image_set) %> <h2><%= @image_set.name %></h2>
  <script>
      var images = [
      <% @image_set.all_images.each do |image| %>
          {
              imageFilename: "<%= image.url %>",
              linkUrl: "<%= image_set_link_url image %>",
              imageTitle:"<%= h image.title %>"
          },
      <% end %>
      ];
      var numberOfPages = images.length;
  </script>

  <div class="sbs-pages-container page-controls">
    <div class="previous-page-container"><a class="change-page" href="javascript:void(0);" id="previous-page" title="Previous Page"></a></div>

    <div>
      <div class="sbs-pages"></div>
    </div>

    <div class="next-page-container"><a class="change-page" href="javascript:void(0);" id="next-page" title="Next Page"></a></div>
  </div>

  <div class="page-links">
      <div class="image-titles">
          <div class="left-image-title">&nbsp;</div>
          <div class="right-image-title">&nbsp;</div>
      </div>
      <div class="left-image-link">&nbsp;</div>

      <div class="page-counter-container">
        <div class="page-counter"><span class="current-page-number"></span> / <span class="total-pages"></span></div>
      </div>

      <div class="right-image-link">&nbsp;</div>
  </div>
<% end %>
