<section class="view">

  <div id="search-panel" class="tab-menu">
    <ul class="panel-menu">
      <li><a href="#">Search</a></li>
      <li><a href="#">Browse</a></li>
      <li><a href="#">Lexicon</a></li>
    </ul>

    <div class="panel-content">
      <%= render(
        partial: "shared/search_works",
        locals: {
          action_url: edition_image_set_path( @edition, @image_set )
        }
      ) %>

      <%= render partial: "shared/browse_works" %>

      <%= render partial: "shared/browse_lexicon" %>
    </div>
  </div>

  <div id="interactive-image-panel">
    <%= render partial: "shared/interactive_image" %>
  </div>

  <div id="work-panel" class="tab-menu">
    <ul class="panel-menu">
      <li><a href="#">Manuscript</a></li>
      <li><a href="#">Reading List</a></li>
    </ul>

    <div class="panel-content">
      <%= render partial: "works/transcriptions/show" %>
      <%= render partial: "shared/work_reading_list" %>
    </div>
  </div>

  <%= render partial: 'works/notes' %>
  
</section>

