<% provide :view_classes, 'three-panel' %>
  <header>
  <h2 class="edition-name"><%= @edition.name %></h2><span class="edition-creator"> &mdash; <%= @edition.owner == current_user ? 'Me' : @edition.author %></span>
  </header>
  <div id="search-panel" class="tab-menu panel">
      <div class="left drawer-handle" data-drawer="search-panel"><div>Search</div></div>
    <ul class="panel-menu">
      <li><a href="#">Search</a></li>
      <li><a href="#">Browse</a></li>
      <li><a href="#">Lexicon</a></li>
    </ul>

    <div class="panel-content">
      <%= render(
        partial: "shared/search_works",
        locals: {
          action_url: edition_image_set_path( @edition, @image_set )
        }
      ) %>

      <%= render partial: "shared/browse_works" %>

      <%= render partial: "shared/browse_lexicon" %>
    </div>
  </div>

  <div id="interactive-image-panel" class="panel">
    <%= render partial: "shared/interactive_image" %>
    <%= render partial: 'image_sets/notes' %>
    <%= render partial: 'image_sets/info' %>
  </div>

  <div id="work-panel" class="tab-menu panel">
    <div class="right drawer-handle" data-drawer="work-panel"><div>Works</div></div>
    <ul class="panel-menu">
      <li><a href="#">Manuscript</a></li>
      <li><a href="#">Reading List</a></li>
    </ul>

    <div class="panel-content">
      <%= render partial: "works/transcriptions/show" %>
      <%= render partial: "shared/work_reading_list" %>
    </div>
  </div>
