<ul class="about-panel-menu panel-menu">
  <li><%= link_to( 'Overview', about_url, ( params[ :action ] == 'about' ? { class: 'selected' } : nil ) ) %></li>
  <li><%= link_to( 'FAQ', faq_url, ( params[ :action ] == 'faq' ? { class: 'selected' } : nil ) ) %></li>
  <li><%= link_to( 'Team', team_url, ( params[ :action ] == 'team' ? { class: 'selected' } : nil ) ) %></li>
  <li><%= link_to( 'Copyright and Terms of Use', terms_url, ( params[ :action ] == 'terms' ? { class: 'selected' } : nil ) ) %></li>
  <li><%= link_to( 'Privacy', privacy_url, ( params[ :action ] == 'privacy' ? { class: 'selected' } : nil ) ) %></li>
  <li><%= link_to( 'Contact Us', contact_url, ( params[ :action ] == 'contact' ? { class: 'selected' } : nil ) ) %></li>
</ul>

