<div id="interactive-image-panel" class="panel">
  <h1><%= raw image_set.image && image_set.image.title ? image_set.image.title : '&nbsp;' %></h1>
    <%= render partial: "image_sets/interactive_image", locals: { image_set: image_set } %>

    <div class="image-drawer bottom drawer">
      <%= render partial: 'image_sets/page_controls', locals: {
        edition: edition, image_set: image_set, next_image: next_image, previous_image: previous_image
      } %>

      <div class="image-drawer-tabs">
        <div class="page-order-container">
          <%= render partial: 'image_sets/order_selector' %>
        </div>

        <% if image_set.image.url.present? %>
          <a href="#" class="one bottom drawer-handle" data-drawer="image-set-info"><%= t :image_info %></a>
        <% end %>

        <a href="#" class="two bottom drawer-handle <%= 'hidden' unless image_set.image.url.nil? %>" data-drawer="set-notes"><%= t :my_notes %></a>
      </div>

      <div class="image-drawer-content">
        <%= render partial: 'image_sets/info', locals: { image: image_set.image } %>
        <%= render partial: 'image_sets/notes', locals: { image_set: image_set, note: note } %>
      </div>
    </div>
</div>
