<div id="interactive-image-panel" class="panel">
    <%= render partial: "image_sets/interactive_image", locals: { image_set: image_set } %>

    <div class="image-drawer bottom drawer">
      <%= render partial: 'image_sets/page_controls', locals: {
        edition: edition, image_set: image_set, next_image: next_image, previous_image: previous_image
      } %>

      <ul class="image-drawer-tabs">
        <li>
          <a href="#" class="one bottom drawer-handle" data-drawer="image-set-info"><%= t :image_info %></a>
        </li>
        <li>
          <a href="#" class="two bottom drawer-handle" data-drawer="set-notes"><%= t :my_notes %></a>
        </li>
      </ul>

      <div class="image-drawer-content">
        <%= render partial: 'image_sets/notes', locals: { image_set: image_set, note: note } %>

        <%= render partial: 'image_sets/info', locals: { image: image_set.image } %>
      </div>
    </div>
</div>
