<section class="interactive-image">
  <% if @image == nil || (@image.url || "").empty? %>
    <%= image_tag( image_path( "missing_image.jpg" ) ) %>
  <% else %>
      <div id="page-image" style="height: 700px"></div>
      <%= javascript_include_tag "openseadragon" %>
      <script>
            OpenSeadragon({
                id:            "page-image",
                prefixUrl: '/assets/',
                tileSources: '<%= "#{Eda::Application.config.emily['image_host']}?DeepZoom=#{Eda::Application.config.emily['image_directory']}/#{@image.url}.tif.dzi" %>'
            });
      </script>
  <% end %>

  <div class="page-controls">
    <!-- TODO: link_to next page -->
    <a id="prev-page" href="#" title="Previous Page" alt="Previous Page" class="change-page"></a>
    <%= link_to('', image_group_url(@edition, @image), { id: 'sbs-view', title: 'Reading View', alt: 'Reading View' }) %>

    <%= if next_page = @page.next
            link_to( '', edition_page_url( {
                edition_id: next_page.edition_id, id: next_page.id
            } ), {
                id: 'next-page', title: 'Next Page', alt: 'Next Page', class: 'change-page'
            } );
    end %>
  </div>

  <dl class="credits">
      <%= render :partial => 'shared/metadata', :object => @image %>
      <dt>Credits</dt><dd><%= @image.credits %></dd>
  </dl>
</section>

