<section class="search-works">
<%= form_tag edition_page_path( @edition, @page ), :method => 'get' do %>
  <%= label_tag(:q, 'Search for:') %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= button_tag 'Search', :name => nil %>
<% end %>
<% if @search %>
  <%= render( {
    partial: 'shared/search_works_results',
    object: @search
  } ) %>
<% end %>
</section>
