<section class="search-works">
  <div class="search-works-form">
    <h1>Search Works</h1>

    <%= form_tag action_url, :method => 'get' do %>
      <%= label_tag(:q, 'Search for:') %>
      <%= text_field_tag(:q, params[:q]) %>
      <%= button_tag raw( "#{image_tag( 'search.png' )} <span>Search<span>" ), :name => nil %>

      <div class="search-works-options">
        <a href="javascript:void(0);"><h2>Search options</h2></a>
        <%= render 'shared/forms/edition_selector' %>
      </div>
    <% end %>
  </div>

  <% if @search %>
  <div class="search-works-results">
    <h2><%= pluralize( @search.total, 'result' ) %></h2>

    <ul>
      <% @search.results.each do |work| %>
        <li>
        <% if page = Page.find_by_work_id(work.id) %>
          <%= link_to( render_work_result_link( work ), edition_page_path(work.edition, page)) %>
        <% else %>
          <%= link_to( render_work_result_link( work ), edition_work_path(work.edition, work)) %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>

</section>
