<div id="work-panel" class="tab-menu panel collapsed">
    <a class="right drawer-handle" data-drawer="work-panel">
        <span><%= t :works_drawer_label %></span>
    </a>
    <ul class="panel-menu">
        <li><a href="#">Transcriptions</a></li>
        <li><a class="reading-list-link" href="#">Reading List</a></li>
    </ul>

    <div class="panel-content">
        <section class="work-transcription">

        <% unless work_to_edit %>
        <label class="edition-select" for="edition-selector">Edition</label>
        <%= edition_selector_by_image(image_set.image, edition, 'edition-selector') %>
        <%# edition_selector(other_editions_works, edition, 'edition-selector') %>
        <% end %>

        <% if work_to_edit && work_to_edit.new_record? %>
            <div class="work-body">
                <%= render partial: 'works/form', locals: { edition: edition, image_set: image_set, work: work_to_edit, next_image: next_image } %>
            </div>
        <% elsif this_editions_works.nil? || this_editions_works.empty? %>
            <div>
                <p><em>No transcription of this image</em></p>
            <% if user_signed_in? %>
                <p>
                <%= link_to t(:new_transcription), new_edition_image_set_work_path(edition, image_set) %>
                </p>
            <% else %>
                <p>
                <%= raw t :new_transcription_link, sign_in_link: link_to(t(:sign_in), new_user_session_path) %>
                </p>
            <% end %>
            </div>
        <% else %>
            <% this_editions_works.each do |work| %>
                <%= link_to "Edit Work", edit_edition_image_set_work_path(edition, image_set, work) %>
                <% if work_to_edit && work == work_to_edit %>
                <div class="work-body">
                    <%= render partial: 'works/form', locals: { edition: edition, image_set: image_set, work: work, next_image: next_image } %>
                </div>
                <% else %>
                <div class="work-body">
                    <%= render partial: 'works/transcriptions/show', locals: { work: work, edition: edition } %>
                </div>

                <div class="about-work">
                    <h4 class="right-toggler">About Work</h4>
                    <div class="toggleable">
                        <dl class="work-fields">
                        <% if work.title %>
                            <dt>First Line/Title</dt>
                            <dd><%= work.title %></dd>
                        <% end %>
                        <% if work.date %>
                            <dt>Date</dt>
                            <dd><%= work.date.year %></dd>
                        <% end %>
                        <% if work.metadata['Recipient'] %>
                            <dt>Recipient</dt>
                            <dd><%= work.metadata['Recipient'] %></dd>
                        <% end %>
                        <% if work.edition.name %>
                            <dt>Edition</dt>
                            <dd><%= work.edition.short_name %></dd>
                        <% end %>
                        <% if work.full_id %>
                            <dt>Number</dt>
                            <dd><%= work.full_id %></dd>
                        <% end %>
                        <% if work.metadata['Textual Notes'] %>
                                <dt class="inscription-notes"><%= t :inscription_notes %></dt>
                                <dd><%= sanitize work.metadata['Textual Notes'], tags: ['em', 'strong', 'br'] %></dd>
                        <% end %>
                        </dl>
                        <a class="show-metadata eda-btn-light" href="javascript:void(0);"><%= t :show_work_metadata %></a><br />
                        <%= link_to "Download as TEI", edition_work_path(edition, work, format: :tei), class: 'eda-btn-light' %>
                        <div class="metadata">
                            <h2>Work Metadata</h2>
                            <dl><%= render partial: 'shared/metadata', locals: { object: work } %></dl>
                        </div>
                    </div>
                </div>

                <% if user_signed_in? %>
                    <div><%= render partial: 'reading_lists/add_form', locals: { edition: edition, work: work} %></div>
                <% end %>

                <% if user_signed_in? && (work_to_edit.nil? || work != work_to_edit) %>
                <div>
                    <%= link_to t(:edit_work), edit_edition_image_set_work_path(edition, image_set, work) %>
                </div>
                <% end %>
                <% if user_signed_in? && edition.owner == current_user %>
                <div>
                    <%= link_to t(:delete_work), edition_image_set_work_path(edition, image_set, work), method: :delete, confirm: t(:delete_work_confirm) %>
                </div>
                <% end %>
            <% end %>
            <% end # End work loop %>

            <% if user_signed_in? && edition.owner == current_user && work_to_edit.nil? %>
                <%= link_to t(:new_transcription), new_edition_image_set_work_path(edition, image_set) %>
            <% end %>

            <%= render partial: 'works/transcriptions/tools' if work_to_edit.nil? %>

            <% unless variants.empty? %>
                <div>
                    <h3>Related Works in This Edition</h3>
                    <ul>
                        <% variants.each do |variant_work| %>
                            <%= render partial: 'works/list_item', locals: {
                                    work: variant_work,
                                    edition: edition || variant_work.edition
                                }
                            %>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <% unless other_editions_works.nil? || other_editions_works.empty? %>
                <noscript>
                    <h3>Related Works in Other Editions</h3>
                    <ul>
                        <% other_editions_works.each do |other_work| %>
                            <%= render partial: 'works/list_item', locals: { work: other_work, edition: other_work.edition } %>
                        <% end %>
                    </ul>
                </noscript>
            <% end %>

            <% unless user_signed_in? %>
                <p>
                <%= raw t :edit_transcription_link, sign_in_link: link_to(t(:sign_in), new_user_session_path) %>
                </p>
            <% end %>
        <% end %>

        </section>
        <%= render partial: "reading_lists/add_works", locals: {
            edition: edition,
            works: this_editions_works
        }
        %>
    </div>
</div>
