<section class="work-transcription">

    <ul>
        <% @work.cross_edition_work_group.works.each do |other_work| %>
            <%= render :partial => 'works/list_item', :locals => { :work => other_work } %>
        <% end %>
    </ul>

    <%= render :partial => 'shared/forms/edition_selector' %>
    <% if @work %>
    <h3><%= @edition.work_number_prefix %><%= @work.number %> <%= @work.variant %></h3>
  <label>
      <input id="no-edits" type="checkbox" name="edits" value="no" />Hide edits</label>
  <label>
      <input id="linebreak-emily" type="checkbox" name="linebreak" value="emily" />Emily's line breaks</label>

    <% @work.stanzas.each do |stanza| %>
        <p class="stanza" data-number="<%= stanza.position %>">
        <% stanza.lines.each do |line| %>
            <span class="line" data-line="<%= line.number %>">
                <%= raw render_line(line) %>
                <% unless line.just_author_break? %>
                    <br class="emily author"/>
                <% end %>
            </span>
        <% end %>
        </p>
    <% end %>
<% else %>
    <p><em>No transcription of this image</em></p>
<% end %>
    <h3>Related Works in This Edition</h3>
    <ul>
        <% @work.variants.each do |work| %>
            <%= render :partial => 'works/list_item', :locals => {:work => work} %>
        <% end %>
    </ul>
</section>
