<section class="work-reading-list">
  <h2>Reading List</h2>

  <% if user_signed_in? %>
      <% current_user.reading_lists.each do |reading_list| %>
          <%= render partial: 'reading_lists/show', locals: { reading_list: reading_list } %>
      <% end %>
      <%= form_tag add_to_reading_list_edition_work_path(@edition, @work), remote: true do %>
          <%= select_tag 'reading_list_id', options_from_collection_for_select(current_user.reading_lists, :id, :name) %>
          <%= submit_tag 'Add' %>
      <% end %>
  <% else %>
      <%= raw t(:reading_list_sign_in, sign_in_link: link_to(t(:sign_in), new_user_session_path)) %>
  <% end %>
</section>

