<div class="pages-show">

  <div id="search-panel" class="tab-menu">
    <ul class="panel-menu">
      <li><a href="#">Search</a></li>
      <li><a href="#">Browse</a></li>
      <li><a href="#">Lexicon</a></li>
    </ul>

    <div class="panel-content">
      <%= render( {
        partial: "shared/search_works"
      } ) %>

      <%= render( {
        partial: "shared/browse_works"
      } ) %>

      <%= render( {
        partial: "shared/browse_lexicon"
      } ) %>
    </div>
  </div>

  <div id="interactive-image-panel">
    <%= render( {
      partial: "shared/interactive_image",
      object: @image
    } ) %>
  </div>

  <div id="work-panel" class="tab-menu">
    <ul class="panel-menu">
      <li><a href="#">Manuscript</a></li>
      <li><a href="#">Notes</a></li>
      <li><a href="#">Reading List</a></li>
    </ul>

    <div class="panel-content">
      <%= render( {
        partial: "shared/work_transcription",
        object: @work
      } ) %>

      <%= render( {
        partial: "shared/work_notes",
        object: @work
      } ) %>

      <%= render( {
        partial: "shared/work_reading_list",
        object: @work
      } ) %>
    </div>
  </div>

</div>

