<% if !@xhr %>
<h1>Browse Words</h1>
<p class="help"><%= raw t( 'words_browse_help' )%></p>
<% end %>

<% cache cache_key_for_multiple(@words) do %>
<div class="word-filter-wrapper">
    <%= label_tag(:filter, t(:word_filter_label)) %>
    <%= text_field_tag(:word_filter, nil,  class: 'word-filter') %>
</div>
<ul class="word-list">
    <% @words.group_by{|w| w.word.first.downcase }.each do |letter, words| %>
        <% words.each do |word| %>
            <li>
            <% if word == words.first %>
                <div class="letter-break"><%= letter.upcase %></div>
            <% end %>
                <%= link_to(word.word, word_path(word)) %>
            </li>
        <% end %>
    <% end %>
</ul>

<% if !@xhr %>
<a href="#">Back to top</a>
<% end %>

<script>
    $(function() {
        $('.word-filter').fastLiveFilter('.word-list');
    });
</script>
<% end %>
