<section class="word">
    <h2><%= @word.word %></h2>
    <% @word.variants.each do |variant| %>
        <p><%= @word.word %> <%= "[#{variant.endings}]" if variant.endings %> <em><%= variant.part_of_speech %></em></p>
        <p><%= sanitize variant.etymology, tags: ['em', 'strong'] %></p>
        <ol>
            <% variant.definitions.each do |definition| %>
                <li><%= sanitize definition.definition, tags: ['em', 'strong'] %></li>
            <% end %>
        </ol>
    <% end %>
</section>
