<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="google-site-verification" content="3W9-x9jjHm0H1pTASPlpI0qIXsn79t2cVMvdW56Ztho" />

  <!--[if lt IE 9]>
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 

  <%= raw( "<noscript>#{ yield( :noscript ) }</noscript>" ) if yield( :noscript ) %>

  <% if yield( :title ).empty? %>
    <title>Emily Dickinson Archive</title>
  <% else %>
    <title><%= yield( :title ) %></title>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="The Emily Dickinson Archive makes high-resolution images of Dickinson's surviving manuscripts available in open access, and provides readers with a website through which they can view images of manuscripts held in multiple libraries and archives."/>

  <meta name="keywords" content="Dickinson, Emily Dickinson, Emily Dickinson Archive, poetry, poems, American, 19th century, digital, original, facsimile, fascicle, open access, manuscripts, transcripts, women, female, writer, author, poet, handwriting"/>

  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" /> 
  <link href='//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var smallImagePreviewWidth = <%= Eda::Application.config.emily['small_image_preview_width'] %>;
    var imageUrlTemplate = "<%= Eda::Application.config.emily['image_host'] %>?FIF=<%= Eda::Application.config.emily['image_directory'] %>/{image_filename}.tif&WID={width}&HEI={height}&CVT=jpeg";
    var rootUrl = "<%= root_url %>";
  </script>
</head>
<body class="<%= body_class( params ) %>">
  <header>
    <h1></h1>

    <div class="menu-container">
      <% if ( params[ :action ] != 'home' ) %>
        <%= render partial: 'shared/main_nav' %>
        <%= render partial: 'shared/user_nav' %>
      <% end %>
    </div>


    <div class="hr"></div>
  </header>

  <% if notice %>
      <div class="flash notice"><p><%= notice %><span class="flash-dismiss">&nbsp;</span></p></div>
  <% end %>
  <% if alert %>
      <div class="flash alert"><p><%= alert %><span class="flash-dismiss">&nbsp;</span></p></div>
  <% end %>

  <section class="view <%= yield :view_classes %>">
  <%= yield %>
  </section>

  <footer>
    <div class="hr"></div>
    <nav class="footer">
      <ul>
        <li><%= link_to( 'Partners & Credits', team_path ) %></li>
        <li><%= link_to( 'Copyright & Terms of Use', terms_path ) %></li>
        <li><%= link_to( 'Privacy', privacy_path ) %></li>
        <li><%= link_to( 'Contact Us', contact_path ) %></li>
      </ul>
    </nav>
    
  </footer>

  <%=
    if (false && Rails.env.development? )
        debug( params )
    end
  %>


  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G2L0VVQE6H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-G2L0VVQE6H');
  </script>
</body>
</html>
