<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <!--[if IE 8]> <meta http-equiv="X-UA-Compatible" content="chrome=1" /> <![endif]-->

  <%= raw( "<noscript>#{ yield( :noscript ) }</noscript>" ) if yield( :noscript ) %>

  <% if yield( :title ).empty? %>
    <title>Emily Dickinson Archive</title>
  <% else %>
    <title><%= yield( :title ) %></title>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" /> 
  <link href='//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var smallImagePreviewWidth = <%= Eda::Application.config.emily['small_image_preview_width'] %>;
    var imageUrlTemplate = "<%= Eda::Application.config.emily['image_host'] %>?FIF=<%= Eda::Application.config.emily['image_directory'] %>/{image_filename}.tif&WID={width}&HEI={height}&CVT=jpeg";
  </script>
</head>
<body class="<%= body_class( params ) %>">
  <header>
    <h1></h1>

    <div class="menu-container">
      <% if ( params[ :action ] != 'home' ) %>
        <%= render partial: 'shared/main_nav' %>
        <%= render partial: 'shared/user_nav' %>
      <% end %>
    </div>


    <div class="hr"></div>
  </header>

  <% if notice %>
      <div class="flash notice"><p><%= notice %><span class="flash-dismiss">&nbsp;</span></p></div>
  <% end %>
  <% if alert %>
      <div class="flash alert"><p><%= alert %><span class="flash-dismiss">&nbsp;</span></p></div>
  <% end %>

  <section class="view <%= yield :view_classes %>">
  <%= yield %>
  </section>

  <footer>
    <div class="hr"></div>
    <nav class="footer">
      <ul>
        <li><%= link_to( '', 'http://cyber.law.harvard.edu', { class: 'berkman-link', title: 'Berkman Center for Internet and Society' } ) %></li>

        <li><%= link_to( 'Copyright & Terms of Use', terms_path ) %></li>
        <li><%= link_to( 'Privacy', privacy_path ) %></li>
        <li><%= link_to( 'Contact Us', contact_path ) %></li>
      </ul>
    </nav>
    
  </footer>

  <%=
    if (false && Rails.env.development? )
        debug( params )
    end
  %>


  <!-- Efficient Google Analytics from h5bp -->
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-1206355-9');ga('send','pageview');
  </script>
</body>
</html>
